.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
  background-color: rgb(208, 195, 219);

  > :not(:last-child) {
    margin-bottom: 1rem;
  }

  mat-card {
    max-width: 100%;
  }

  mat-card-header {
    padding: 1rem;
  }

  mat-card-content {
    padding: 1rem 1rem 1rem 1rem;
    
    mat-checkbox {
      margin-right: 1rem;
      text-decoration: none;
    }
  }

  mat-card-actions {
    padding: 1rem;
  }

  .results {

    max-width: 100%;

    iframe {
      width: 100%;
      height: 400px;
    }

    > :not(:last-child) {
      margin-bottom: 1rem;
    }

  }

}